<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Controls</title>
    <style>
        h1 {text-align: center; color: black; background-color: white}
        p {text-align: center; color: black; background-color: lightgrey}
        div {margin: auto; word-wrap: normal; width: 400px}
    </style>

</head>
<body bgcolor = 'Cyan'>
    <h1><b>
        <br>
        <>The worst Rasberry Pi controller<><br></b>
        <br>

    </h1>
    <br>

    <div>
        <p>
        This is the paragraph text with background
        </p>
    </div>



</body>
</html>