<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ready to Drive</title>
    <style>
        h1 {text-align: center; color: black; background-color: white;}
        h2 {text-align: center; color: black;}
        p {text-align: center; color: black; font-size: 20px;}
        div {margin: auto; word-wrap: normal; width: 500px;}
        .center {text-align: center;}
        .button {text-align: center; width: 75;}
        table, th, td {text-align: center; border: 2px solid black; margin-left: auto; margin-right: auto;}


    </style>
</head>
<body bgcolor="cyan">
    <h1><b>
        <br>
        <>The worst Rasberry Pi controller<><br></b>
        <br>
    </h1>
    <h2>
        How it works:
    </h2>
    <div>
        <p>
            When you press one of the buttons, an internal database changes a value associated with the button from
            false to true. This triggers the appearance of the command in the "current instruction" table below.
            The code I wrote for the pi (and you need to write to get this to work) looks in this table and checks
            for recognized commands. If a recognized command is seen, the pi responds by activating the corresponding
            output pins. This essentially turns the website into wireless remote control for the pi.
    </p>
    </div>
<form action="{% url 'controls:driving' %}" method="post">
    {% csrf_token %}
<div class="button">
{% for option in buttonList %}
    <button type="submit" id="button{{ option.name }}" name="button" value="{{ option.id }}" >{{ option.name }}</button>
{% endfor %}

</div>
</form>
    <br>
        <table>
            <tr>
            <th>
                Current Command:
            </th>
        </tr>
                {% for option in buttonList %}
                    {% if option.isPushed %}
                        <tr><td>{{ option.name }} </td></tr>
                    {% endif %}
                {% endfor %}


        </table>

    <br>

</body>
</html>